/* ==================== Table of Contents: ==================== */
/* Animations ------------------------------------------ line   */
/* Font ------------------------------------------------ line   */
/* Body ------------------------------------------------ line   */
/* Navigation Bar -------------------------------------- line   */
/* Headers and Content --------------------------------- line   */
/* Images ---------------------------------------------- line   */
/* Subsections ----------------------------------------- line   */

/* Font: ______________________________________________________ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    font-family: "Inter", sans-serif;
}

/* Animations: ________________________________________________ */

@keyframes textBop {
    0% {transform: translateY(0)}
    50% {transform: translateY(0.5rem)}
    100% {transform: translateY(0rem)}
}

@keyframes textFadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes textWave {
    0% {transform: translateY(0px)}
    12.5% {transform: translateY(-2px)}
    25% {transform: translateY(-4px)}
    37.5% {transform: translateY(-2px)}
    50% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
}

.wave-text span:nth-child(1) {animation-delay: 0s;}
.wave-text span:nth-child(2) {animation-delay: 0.2s;}
.wave-text span:nth-child(3) {animation-delay: 0.4s;}
.wave-text span:nth-child(4) {animation-delay: 0.6s;}
.wave-text span:nth-child(5) {animation-delay: 0.8s;}
.wave-text span:nth-child(6) {animation-delay: 1s;}
.wave-text span:nth-child(7) {animation-delay: 1.2s;}
.wave-text span:nth-child(8) {animation-delay: 1.4s;}
.wave-text span:nth-child(9) {animation-delay: 1.6s;}
.wave-text span:nth-child(10) {animation-delay: 1.8s;}
.wave-text span:nth-child(11) {animation-delay: 2s;}
.wave-text span:nth-child(12) {animation-delay: 2.2s;}
.wave-text span:nth-child(13) {animation-delay: 2.4s;}
.wave-text span:nth-child(14) {animation-delay: 2.6s;}

.wave-text span {
    animation: textWave 3s linear infinite;
    display: inline-block;
}

.wave-word { 
    display: inline-block; 
    white-space: nowrap; 
}

/* Body: ______________________________________________________ */

body {
    background-image: radial-gradient(#9ED6DE 1px, transparent 1px);
    background-size: 25px 25px;
}

/* Navigation Bar: ____________________________________________ */

#navbar {
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.33);
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 0 1rem;
    padding: 1.1rem;
    position: sticky;
    top: 1rem;
    -webkit-backdrop-filter: blur(2.5px);
    z-index: 10;
    transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

#navbar:hover {
    background: #373F51;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33);
    transform: scale(1.01);
}

#navbar a {
    transition: color 0.25s ease;
}

#navbar:hover a {
    color: white;
}

.navbar-tab {
    transition: transform 0.25s ease;
}

.navbar-tab:hover {
    transform: scale(1.1);
}

.navbar-tab a {
    color: #373F51; 
    font-size: 1.33rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s ease;
}
        
.navbar-tab:hover a {
    color: #BCC5DB !important;
}

#navbar-right-section {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-left: auto;
}

#navbar-home-tab {
    margin-left: 0.55rem;
}

#navbar-home-tab a {
    font-weight: 900;
}

#navbar-projects-tab {
    margin-right: 0.55rem;
}

/* Headers and Content: _______________________________________ */

.section-header {
    color: #556CA3;
    font-size: 3rem;
    font-weight: 900;
}

.bold-text {
    font-weight: bold;
}

.non-bold-text {
    animation: none !important; 
    font-weight: normal !important;
}

.italicized-text {
    font-style: italic;
}

.non-highlighted-text {
    animation: none !important;
    font-weight: normal !important;
}

.section-text-content {
    animation: textFadeIn 1.75s ease forwards;
    font-size: 1.25rem;
    transition: transform 0.25s ease;
}

.section-text-content:hover {
    transform: scale(1.015);
}

/* Home Section: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

#home-section-header {
    animation: textBop 1.75s ease-in-out infinite;
    justify-self: center;
}

#home-section-content {
    color: #373F51;
    text-align: center;
}

#home-section-description {
    margin: 1.5rem;
}

#home-section-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* About Section: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

#about-section {
    align-self: center;
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.33);
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 1.5rem;
    -webkit-backdrop-filter: blur(1px);
    width: 90%;
    transition: background 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
}

#about-section:hover {
    background: #58A4B0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33);
    transform: scale(1.01);
}

#about-section-content {
    display: flex;
}

@media (max-width: 768px) {
    #navbar {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    #navbar-right-section { 
        align-self: center; 
        margin-left: 0;
        justify-content: center;
    }

    #navbar-home-tab,
    #navbar-projects-tab {
        margin: auto;
    }

    #about-section {
        padding-bottom: 4rem;
    }

    #about-section-content {
        display: flex;
        flex-direction: column;
    }

    #portrait-photo {
        align-self: center;
        margin: auto;
    }
}

@media (min-width: 769px) { 
    #portrait-photo { 
        margin: 0 4rem 0 auto; 
    } 
}

#about-section-header:hover {
    animation: textBop 1.75s ease-in-out infinite;
}

#about-section-content1, 
#about-section-content2,
#about-section-content3 {
    color: #373F51;
    transform-origin: left;
    transition: transform 0.25s ease;
}

#about-section-content1:hover,
#about-section-content2:hover,
#about-section-content3:hover {
    transform: scale(1.015);
}

#about-section #about-section-header,
#about-section #about-section-content1,
#about-section #about-section-content2, 
#about-section #about-section-content3, {
    transition: color 0.25s ease;
}

#about-section:hover #about-section-header,
#about-section:hover #about-section-content1,
#about-section:hover #about-section-content2,
#about-section:hover #about-section-content3 {
    color: white;
}

/* Images: ____________________________________________________ */

.logo-container {
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: center;
    margin: 1.5rem;
    padding: 1rem;
    transition: box-shadow 0.25s ease;
}

.logo-container:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33);
    transform: scale(1.1);
}

.logo-container path {
    transition: fill 0.25s ease;
}

.logo-container:hover path {
    fill: white;
}

#github-logo-container, 
#linkedin-logo-container, 
#resume-icon-container {
    transition: background 0.25s ease, transform 0.25s ease;;
}

#github-logo-container:hover {
    background: #24292E;
    transform: scale(1.1);
}

#linkedin-logo-container:hover {
    background: #0077B5;
    transform: scale(1.1);
}

#resume-icon-container:hover {
    background: #00563B;
    transform: scale(1.1);
}

.logo-container #linkedin-inner-path {
    transition: fill 0.25s ease;
}

.logo-container:hover #linkedin-inner-path {
    fill: #0077B5;
}

#portrait-photo {
    align-self: center;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    height: auto;
    width: clamp(10rem, 50%, 17rem);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

#portrait-photo:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.33);
    transform: scale(1.05);
}

/* Subsections: _______________________________________________ */

#home-subsection1 {
    padding: 1rem;
}

#about-subsection1 {
    justify-self: flex-start;
    padding: 0 4rem 2.33rem 4rem;
    width: 67%;
}